html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  display:  flex;
  justify-content:  center;
  font-size: 1rem;
  line-height:  1.5;
}

@font-face {
  font-family: 'Hack', monospace;
  src: url(/font/Hack.ttf) format('ttf')
}

#container {
  position:  absolute;
  font-family: Hack, monospace;
  color:  chartreuse;
  height: 100%;
  width:  100%;
  max-width: 1200px;
}

.chat-input, .submit-input {
  border: 1px solid deeppink;
  border-radius: 5px;
  font-family: Hack;
  font-size: 1em;
  width: 100%;
  background-color: #1a1a1a;
  color: lime;
  padding: 5px 8px;
  transition: border-color .30s ease-in-out,box-shadow .30s ease-in-out;
}

.submit-input {
  width:  auto;
}

.chat-input:focus, .submit-input:focus {
  border: 1px solid chartreuse;
  box-shadow: 0px 0px 5px chartreuse;
}

.chat-label {
  display: flex;
  flex: 4;
  padding: .5em;
}

.chat-submit {
  background-color: black;
  border: solid 1px #6c757d;
  flex: 1;
  margin: .5em;
  padding:  .5em;
  color:  #6c757d;
  border-radius: 5px;
  letter-spacing: 5px;
  transition: border-color .30s ease-in-out,box-shadow .30s ease-in-out, letter-spacing .30s ease-in-out;
}

.chat-submit:hover {
  color: deeppink;
  border: 1px solid deeppink;
  background-color: #1a1a1a;
  letter-spacing: 8px;
  font-weight: bolder;
  cursor: pointer;
}

.chat-form {
  display: flex;
  justify-content: space-around;
  flex: 1 1 6%;
}

.chat-window {
  overflow: hidden auto;
  display:  flex;
  flex-direction: column-reverse;
  flex: 1 1 95%;
  padding: .5em;
}

#chat-section {
  border: 1px solid deeppink;
  border-radius: 10px;
  margin: .5em 1em;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  height: 90%;
  box-shadow: 0px 0px 5px deeppink;
  background-color: black;
}

.notifications {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 666;
}

.notification {
  display: block;
  font-family: Hack, monospace;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  margin: .5em;
  color: deeppink;
  border: 1px solid deeppink;
  border-radius: 10px;
  box-shadow: 0px 0px 5px deeppink;
  z-index: 900;
}

.users-list {
  font-size: 8px;
  font-weight: lighter;
  text-align: center;
  padding: .5em;
}

.pseudo {
  color:  deeppink;
}

.time {
  color: goldenrod;
  font-size: .8em;
}

.icon {
  height:  1em;
}

.hidden {
  display: none;
}

.title {
  display: flex;
  color:  limegreen;
  justify-content: center;
  padding-top: .5em;
  animation-name:shadow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.blur {
  filter: blur(8px);
}

.prompt {
  display: block;
  width:  70%;
  font-family: Hack, monospace;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  margin: .5em;
  color: deeppink;
  border: 1px solid deeppink;
  border-radius: 10px;
  box-shadow: 0px 0px 5px deeppink;
}

.chat-prompt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#start {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255, 0.2);
  align-items:  center;
  z-index: 999;
}

pre {
  font-size: 5px;
  text-align: center;
}

a {
  color: fuchsia;
}

a:visited {
  color: darkblue;
}

a:hover {
  color: deeppink;
  text-shadow: 0px 0px 5px deeppink;
  letter-spacing: 2px;
  transition: border-color .50s ease-in-out,box-shadow .50s ease-in-out, letter-spacing .50s ease-in-out;
}

textarea:focus, input:focus{
    outline: none;
}

input[type='text'] {
  font-family: Hack, monospace;
}

@keyframes shadow {
  0%    {text-shadow: 0px 0px 2px #1a1a1a;}
  25%   {text-shadow: 0px 0px 2px #163416;}
  50%   {text-shadow: 0px 0px 5px #198719;}
  75%   {text-shadow: 0px 0px 8px lime;}
  100%  {text-shadow: 0px 0px 12px lime;}
}

@media screen and (max-width: 600px) {
  .chat-form {
    flex-direction:  column;
  }
}
